   .flag {
    background-color: #006A4E;
    width: 100%;
    padding-top: 60%;
    position: relative;
  }
  .flag::after {
    content: "";
    background-color: #F42A41;
    width: 40%;
    padding-top: 40%;
    border-radius: 50%;
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translateY(-50%);
  }
  .old img {
    position: absolute;
    top: 0%;
    z-index:1;
  }

  .fhs-container {
    max-width: 1184px;
    margin: 0 auto;
    padding: 92px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background: #fdfdff;
  }
  @media only screen and (max-width: 1023px) {
    .fhs-container {padding:60px!important;}
  }
  @media only screen and (max-width: 767px) {
    .fhs-container {padding:32px!important;}
  }

  small, a{
    text-align: right!important;
    text-decoration:none;
  }
